body{
    margin: 0;
    padding: 0;
    background-color: rgb(217, 218, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    width: 35%;
    min-height: 80vh;
    margin: auto;
    padding-top: 2.5%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    align-items: stretch;
    margin-bottom: 40px;
}
*/columna izquierda*/
.left {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.uno {
    background-color: rgb(190, 190, 190);
    display: grid;
    grid-template-columns: 20% 80%;
    flex: 2;
}
.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 70%;
    margin-top: 20%;
}
.titulo{
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}
.titulo1{
    margin-left: 5%;
}
#titulo2{
    font-size:small;
    color: rgb(49, 48, 48);
    margin-left: 6%;
}

.dos {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 67% 33%;
    padding-left: 10px;
    flex: 3;
}
#notes{
    font-size: larger;
    margin-left: 15%;
    margin-top: 100px;
}
#invoceto{
    font-size:small;
    text-align: right;
    padding-right: 20px;
}
.tres {
    background-color: rgb(190, 190, 190);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-left: 20px;
    flex: 2;
}
.numeros{
    font-size: 15px;
}
#numl{
    margin-top: auto;
}
#num2{
    margin-top: auto;
    font-size: 15px;
}
#subtotal {
    text-align: right;
    padding-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

#terms {
    flex: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}

#payment {
    flex: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
#titulo{
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    color: white;
}

#invoice-title {
    background-color: rgb(40, 47, 39);
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#invoice {
    background-color: rgb(70, 82, 68);
    text-align: center;
    padding: 10px 0;
    flex: 3;
    display: grid;
    grid-template-rows:repeat(3, 1fr);
    direction: rows;
    justify-content: center;
}

.qty {
    background-color: rgb(40, 47, 39);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 15px;
    flex: 2;
    font: bold 14px Verdana, Geneva, Tahoma, sans-serif;
}

#prices {
    background-color: rgb(70, 82, 68);
    padding: 10px 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tot {
    background-color: rgb(40, 47, 39);
    padding: 10px 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.datos{
    font-size: 10px;
    margin: 0%;
}
.tit{
    margin: 0;
}
#volver{
    font-family: "Revalia", sans-serif;
    background-color: #000000;
    color:white;
    width: 100px;
    height: 40px;
    margin-bottom: 10px ;
}