@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
    background-color: #d4e0ff;
}
.container{
    background-color: #eef0ff;
    text-align: center;
    padding:2%;
    border-radius: 5%;
    width: 400px;
    transition: all 0.3s ease;
    margin-top: 50px;
}

.name{
    font-size: 3rem;
    margin: 0;
}
.cargo{
    font-size: 25px;
    margin: 5px;
    color: #1800f4;
    font-weight: 20%;
}
p{
    color: #2c2c2c;
    font-size: 1em;
}
.img{
    border: solid 5px #a5b3f0;
    border-radius: 50%;
    width: 250px;
    margin-bottom: 40px;
}
.btn{
    font-size: 15px;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: #748bf4;
    border: none;
    margin-top: 10px ;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 10px #1a1c6d8a;
}
.btn:active{
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: rgb(0, 0, 0);
}
.container:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 15px #1a1c6d8a;
}

@media (max-width: 600px) {
    .container {
        width: 85%; 
        padding: 5%;
    }

    .name {
        font-size: 2.2rem;
    }

    .img {
        width: 200px; /* Reducimos un poco la imagen */
    }
}

@media (max-width: 400px) {
    .container {
        width: 90%;
        margin-top: 20px;
    }

    .name {
        font-size: 1.8rem;
    }

    .cargo {
        font-size: 20px;
    }

    .img {
        width: 150px;
        margin-bottom: 20px;
    }

    .btn {
        width: 120px;
        height: 45px;
    }
}